@font-face
  font-family: FTV
  src: url("/fonts/FTV/FTV.woff2") format("woff2"), url("/fonts/FTV/FTV.woff") format("woff"), url("/fonts/FTV/FTV.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: FTV2
  src: url("/fonts/FTV/FTV2.woff2") format("woff2"), url("/fonts/FTV/FTV2.woff") format("woff"), url("/fonts/FTV/FTV2.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: FTV3
  src: url("/fonts/FTV/FTV3.woff2") format("woff2"), url("/fonts/FTV/FTV3.woff") format("woff"), url("/fonts/FTV/FTV3.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: OPS
  src: url("/fonts/OPS/OPS.woff2") format("woff2"), url("/fonts/OPS/OPS.woff") format("woff"), url("/fonts/OPS/OPS.ttf") format("truetype")
  font-display: swap

@font-face
  font-family: HLW-1
  src: url(/fonts/HLW/HLW-1.ttf) format("truetype")
  font-display: swap

@font-face
  font-family: HLW-2
  src: url(/fonts/HLW/HLW-2.ttf) format("truetype")
  font-display: swap

@font-face
  font-family: MRC-1
  src: url(/fonts/MRC/MRC-1.ttf) format("truetype")
  font-display: swap

@font-face
  font-family: MRC-2
  src: url(/fonts/MRC/MRC-2.ttf) format("truetype")
  font-display: swap

@font-face
  font-family: MRC-3
  src: url(/fonts/MRC/MRC-3.ttf) format("truetype")
  font-display: swap

@font-face
  font-family: MST-1
  src: url(/fonts/MST/MST-1.ttf) format("truetype")
  font-display: swap

.FTV
  font-family: "FTV", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.FTV2
  font-family: "FTV2", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.FTV3
  font-family: "FTV3", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.OPS
  font-family: "OPS", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji

.HLW-1
  font-family: "HLW-1", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.HLW-2
  font-family: "HLW-2", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji

.MRC-1
  font-family: "MRC-1", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.MRC-2
  font-family: "MRC-2", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
.MRC-3
  font-family: "MRC-3", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
  
.MST-1
  font-family: "MST-1", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji