.MenuItem
  position: relative
  overflow: hidden
  width: 100%
  min-height: 45px
  max-height: 45px
  cursor: pointer
  user-select: none
  padding: 0 12px
  transition: background ,color, transform 0.4s ease
  // &::before
  //   content: ""
  //   position: absolute
  //   inset: 0
  //   background: linear-gradient(120deg,transparent 35%,rgba(255,255,255,0.85) 50%,transparent 65%) !important
  //   transform: translateX(-100%) !important
  //   transition: transform 0.6s ease
  // &:hover
  //   &::before
  //     transform: translateX(100%) !important
  &:hover > .MenuItem__Icon
    color: #fff 
  &:hover > .MenuItem__Text
    color: #fff
  &--Active
    .MenuItem__Icon
      color: #ffffff !important
    .MenuItem__Text
      color: #ffffff !important