.HideScroll
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none

.Iframe
  overflow: hidden
  outline: none
  border: none
  user-select: none

.Android
  background:#a4c639 !important
  color: #fff !important
  span
    color: #fff !important

.Iphone
  background: #000 !important
  color: #fff !important
  span
    color: #fff !important
