.text-gradient
  background-clip: text !important
  color: transparent !important
  background-image: linear-gradient(241.06deg, #fde9bf -1.66%, #e2be73 82.99%)

.text-gradient-2
  background-clip: text !important
  color: transparent !important
  background-image: linear-gradient(0deg, #6a5a36 -1.66%, #b9861a 82.99%)

.text-gradient-hover
  &:hover
    background-clip: text !important
    color: transparent !important
    background-image: linear-gradient(241.06deg, #fde9bf -1.66%, #e2be73 82.99%)