.theme-default
  --ui-text: #f1f1f1

  .bg-btn-2
    background: linear-gradient(180deg,#42443c,#191e1a) !important
    color: #f9eac4 

  .bg-btn
    color: #342411
    background: linear-gradient(180deg,#f1da9a,#bc873a) !important
    
  .MenuItem
    &:hover
      &::before
        background-color: rgba(255, 255, 255, 0.07)
    &--Active
      &::before
        background-color: rgba(255, 255, 255, 0.07)
      .MenuItem__Icon
        color: #000 !important
      .MenuItem__Text
        color: #000 !important

  .bg-card
    // background: radial-gradient(circle at top, rgba(white, 0.02), rgba(black, .8)), linear-gradient(0deg, rgba(black, 0.1), rgba(black, 0)) #313638 !important
    background: radial-gradient(ellipse at 25% 70%, #2c3025 0%, transparent 60%), #191c17 !important
  
  .bg-card-box
    background-color: rgba(255, 255, 255, 0.07) !important