.color-lootchest-light
  --bg-light-color: 89 163 204
  --bg-light-shadow-color: 41 74 92

.Lootchest
  position: relative
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 0%, rgb(0 31 54) 100%)

.lootchest-text
  background: linear-gradient(0deg, rgb(116, 255, 143), rgb(95, 227, 198))
  background-clip: text !important
  color: transparent !important

.lootchest-text-title
  background: linear-gradient(0deg, rgb(116, 255, 143), rgb(95, 227, 198))
  text-shadow: 0 0px 5px rgba(0, 255, 170, 0.644)
  background-clip: text !important
  color: transparent !important

.lootchest-text-2
  color: rgb(116,255,143)